/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.nav-division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    color: #3A3A3A;
}
nav ul{
    display: flex;
}
ul li a, a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
}
ul li{
    list-style: none;
    padding-left: 34px;  
}
li a .fas{
    font-size: 30px;
}
.section-for-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.heading-article{
     width: 482px;
}
.heading-tittle{
    font-size: 26px;
    margin-bottom: 20px;
}
.heading-tittle h1{
    margin-bottom: 20px;
}

.button{
    width: 196px;
    height: 44px; 
    background-color: #E02C6D; 
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    transition: transform 1s ease-out;
}
.button a{
    color: #FFFFFF;
}
.button:hover{
    transform: scale(1.15);
}
.circle-1{
    width: 440px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #F1E4FF;
}
.circle-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180.47px;
    height: 180.47px;
    border-radius: 50%;
    border: 68.42px solid #F1E4FF;
}

.influencer img {
    width: 440px;
    height: 414px; 
    transition: transform 1.5s ease-out;
}
.influencer img:hover{
    transform: scale(1.15);
}
.sponsor{
    margin: 69px;   
}
.sponsor-logo{
    display: flex;
    justify-content: space-between;
    padding: 25px 62px;
}
 hr{
    width: 1110px;
    border: 0px;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
main section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection{
    width: 1047px;
}
.collection-iteams{
    display: grid;
    justify-content: center;
    grid-template-columns: 310px 310px 310px ;
    row-gap: 30px;
    column-gap: 30px;
}
.collection-tittle{
    font-weight: 600;
    font-size: 18px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}
.iteam{
    width: 280px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.iteam-image img{
    width: 280px;
    height: 236px;
}
.iteam-tittle h2{
    color: #18191F;
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0;
}
.iteam-tittle h3{
    color: hsla(0, 0%, 0%, 0.884);
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}
.iteam-details P, .rating span {
    font-size: 14px;
    color: #787885;
    font-weight: 700;
}
.fas.filled{
    color: #FFC014;
    font-size: 11px;
 }
 .fas.empty{
    color: #AEAEAE;
    font-size: 11px;
 }
 .exploreing {
    width: 980px;
    margin-top: 30px;
 }
 .exploreing p{
     display: flex;
     justify-content: flex-end;

 }
 .exploreing a{
     color: #E02C6D;
     font-weight: bold;
     font-size: 16px;   
 }
 .shipping{
     display: flex;
     justify-content: space-between;
     margin: 100px 69px;
     width: 1110px;
     background-color: #ffffff;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     border-radius: 10px;
 }
 .shipping-service{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 40px 35px;
     transition: transform 1s ease-out;
 }
 .shipping-service .fas {
     font-size: 1.7em;
     background-color: #d9dbe1b2;
     border-radius: 50%;
     padding: 15px;
 }
 .shipping-service:hover{
     transform: scale(1.2);
 }
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0A0826;
    width: 100%;
    height: 239px;
    color: #FFFFFF;  
}
footer h3{
    margin-bottom: 0%;
    font-size: 24px;
}
footer p {
    margin-top: 5px;
    color: #D9DBE1;
    font-size: 14px;
}
footer .social-media{
    display: flex;
    justify-content: space-between;
    width: 176px;
    color: #FFFFFF;
}
footer .social-media .fab{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #78788540;
    font-size: 15px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #FFFFFF; 
}

@media only screen and (max-width: 688px) {
    header{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
       
    }
    .nav-division{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul{
        padding: 0%;
    }
    ul li{
        padding: 10px;
    }
    .explore{
        display: none;
    }
    .section-for-header{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .heading-article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .heading-tittle{
        margin-bottom: 0;
    }
    .heading-article h1 {
        font-size: 28px;
        margin-bottom: 0;
    }
    .heading-details p{
        font-size: 14px;
    }
    .button{
        margin-top: 5px;
    }
    .influencer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .circle-1{
        width: 257px;
        height: 257px;
    }
    .circle-2{
        width: 105.76px;
        height: 105.76px;
        border: 40.42px solid #F1E4FF;
    }
    .influencer img {
        width: 230px;
        height: 215px;
    }
    .sponsor {
        margin: 30px 15px;
    }
    Hr{
       display: none;
    }
    .sponsor-logo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .sponsor-logo img{
        transform: scale(0.50);
    }
    .collection{
        width: 100%;
    }
    .collection-iteams {
        display: grid;
        justify-content: center;
        grid-template-columns: 310px;
   }
   .exploreing {
       width: 80%;
   }
   .shipping{
       display: flex;
       flex-direction: column;
       width: 100%;
       margin: 60px 0px;
   }
   .shipping-service{
       transform: scale(0.8);
       padding: 0%;
   }
   footer{
       width: 100%;
   }
}
@media only screen and (min-width: 689px) and (
    max-width: 992px) {
    .heading{
        font-size: 1.5em;
    }
    .section-for-header{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .heading-article{
        margin-bottom: 40px;
        transform: scale(1.3);
    }
    .influencer{
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1.3);
        margin-top: 70px;
        height: 572px;
        width: 572px;
    }
    .sponsor{
        margin: 60px 15px;
    }
    hr{
        width: 100%;
    }
    .sponsor-logo{
        padding: 0px 62px;
    }
    .sponsor-logo img{
        transform: scale(0.60);
    }
    .collection-iteams {
        display: grid;
        justify-content: center;
        grid-template-columns: 310px 310px;
    }
    .exploreing {
         width: 80%;
    }
    .shipping{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 60px 0px;
    }
    .shipping-service{
        transform: scale(0.8);
        padding: 0%;
    }
    footer{
        width: 100%;
    }
    nav{
        display: none;
    }
}